org: jaovw
app: aws-node-project
service: node-api
frameworkVersion: '3'

custom:
  tableName: 'users-table-${sls:stage}'

provider:
  name: aws
  runtime: nodejs14.x
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - Fn::GetAtt: [ UsersTable, Arn ]
  environment:
    TODO_TABLE: ${self:custom.tableName}

functions:
  create:
    handler: handler/createTodo.createTodo
    events:
      - http:
          path: todos
          method: post
          cors: true
  list:
    handler: handler/listTodo.listTodo
    events:
      - http:
          path: todos
          method: get
          cors: true
  get:
    handler: handler/getTodo.getTodo
    events:
      - http:
          path: todos/{userId}
          method: get
          cors: true

# PROPRIEDADES DA TABELA, NOME E CHAVE VIERAM PREDEFINIDAS, POR ISSO O MOTIVO DE USAR O USERID NO HANDLER
resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:custom.tableName}
